.form_wrapper {
    width: 100%;
    margin: 15px auto 0;
}

.form_wrapper .form_input,
.form_wrapper .form_div {
    font-size: 1rem;
    padding: 10px 5px;
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--font-color);
    box-shadow: 1px 1px 10px #111;
}

.form_wrapper .form_input::placeholder {
    color: #787a82;
}

.form_wrapper .form_div {
    min-height: 200px;
    margin: 15px 0 0;
}

.form_wrapper button {
    background-color: var(--heading-color);
    color: var(--background-color);
    padding: 10px 20px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin: 10px 0 0 auto;
    cursor: pointer;
}

@media (min-width: 992px) {
    .form_wrapper {
        width: 70%;
    }
}
