header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 4%;
    box-shadow: 2px 2px 10px #111;
}

header .app_name {
    font-size: 1.25rem;
    font-weight: 600;
    color: #64ffda;
}

nav {
    position: fixed;
    left: -65vw;
    top: 0;
    bottom: 0;
    width: 65vw;
    background-color: #0a192f;
    box-shadow: 2px 2px 10px #111;
    z-index: 100;
    transition: all linear 150ms;
}

header .show {
    transform: translatex(100%);
}

header nav ul {
    display: block;
    list-style: none;
    padding: 15px;
    margin: 0;
}

header button {
    background-color: transparent;
    color: #64ffda;
    border: 0;
    outline: 0;
    font-size: 30px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 0;
}

.nav_item {
    display: block;
}

.nav_item a {
    display: block;
    padding: 10px 5px;
    text-transform: capitalize;
    font-size: 1.125rem;
}

.active {
    color: #64ffda;
}

@media (min-width: 769px) {
    header button {
        display: none;
    }
    nav {
        position: initial;
        inset: initial;
        width: auto;
        box-shadow: none;
        z-index: initial;
    }

    header nav ul {
        display: flex;
    }

    .nav_item a {
        padding: 10px 10px;
    }

    .nav_item a:hover {
        color: #64ffda;
        transition: all linear 200ms;
    }

    header nav ul {
        padding: 0;
    }
}
