.note_detail_item h2 {
    font-size: 2.25rem;
    margin: 0 0 5px;
}

.note_detail_item span {
    font-size: 1rem;
}

.note_detail_item .body {
    font-size: 1.125rem;
    margin: 20px 0 0;
}

.delete_button {
    right: 10px;
}

.archieve_button,
.activate_button {
    right: 120px;
}

.action_button {
    position: fixed;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--heading-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 25px;
    color: var(--background-color);
}

.action_button:hover {
    cursor: pointer;
    transition: all linear 200ms;
    scale: 1.1;
}

@media (min-width: 768px) {
    .delete_button {
        right: 50px;
    }
}

@media (min-width: 992px) {
    .note_detail_item {
        padding: 50px 150px;
    }
}
